<div class="flex align-items-center justify-content-center w-screen h-screen" *ngIf="data">
  <div class="surface-card p-4 shadow-2 border-round lg:w-6 md:w-9 sm:w-10 w-11">
    <div class="text-center mb-5">
      <img src="assets/svg/logo.svg" alt="Image" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Signature</div>
      <p> Module : {{data.module.attributes.title}}</p>
      <p>{{data.user.attributes.user.data.attributes.firstname}} {{data.user.attributes.user.data.attributes.lastname}}
      </p>
      <h3 *ngIf="isSign">A signé !</h3>
    </div>
    <div class="mt-1" *ngIf="!isSign">
      <app-signature *ngIf="data" (signature)="validateSignature()"></app-signature>
    </div>
  </div>

</div>
