<div *ngIf="navbarService.isActive" class="flex justify-content-between px-4 py-2 shadow-1">
  <img src="assets/svg/logo.svg" height="40" />
  <button type="button" pButton label="Se déconnecter" icon="pi pi-power-off" (click)="logout()"></button>
</div>