<p-divider align="left">
  <div class="inline-flex align-items-center">
    <i class="pi pi-bookmark mr-2"></i>
    <b>Module Actuel</b>
  </div>
</p-divider>
<p-panel *ngIf="currentModule && authService.isSpeaker$ | async; else isLearner"
  [header]="currentModule.attributes.title">
  <ng-template pTemplate="icons">
    <button [routerLink]="['modules', currentModule.id]" pButton class="p-panel-header-icon p-link"
      icon="pi pi-search"></button>
  </ng-template>

  <div class="flex flex-column sm:flex-row justify-content-around align-items-center">
    <p-chip [label]="
        'Participants: ' + nbLearners
      " icon="pi pi-user" styleClass="custom-chip">
    </p-chip>

    <div class="flex flex-column align-items-center">
      <h5>En attente</h5>
      <p-knob [(ngModel)]="nbNoSign" [min]="0" [max]="nbLearners" [disabled]="true"></p-knob>
    </div>

    <div class="flex flex-column align-items-center">
      <h5>Signés</h5>
      <p-knob [(ngModel)]="nbSign" [min]="0" [max]="nbLearners" [disabled]="true"></p-knob>
    </div>
  </div>
</p-panel>

<ng-template #isLearner>
  <p-panel *ngIf="currentModule; else noModule" [header]="currentModule.attributes.title">
    <div class="flex justify-content-between align-items-center px-4">
      <div class="flex flex-column">
        <h5 class="m-0">
          Du
          {{ currentModule.attributes.dateStart | date: "dd/MM/YYYY HH:mm" }} au
          {{ currentModule.attributes.dateEnd | date: "dd/MM/YYYY HH:mm" }}
        </h5>
        <h5 class="mb-0">À {{ currentModule.attributes.location }}</h5>
      </div>
      <span class="badge" [class]="mySignature.attributes.status + '-badge'">
        {{ mySignature.attributes.status }}
      </span>
    </div>
  </p-panel>
</ng-template>

<ng-template #noModule>
  <p-panel> Aucun module actuellement. </p-panel>
</ng-template>