<canvas #canvas class="canvas"></canvas>

<div class="wrapper-button">
  <button *ngIf="isDisplayedButton" class="button submit" (click)="submit()">
    <div>Envoyer</div>
    <img src="assets/svg/send.svg" />
  </button>
  <button class="button erase" (click)="erase()">
    <div>Effacer</div>
    <img src="assets/svg/erase.svg" />
  </button>
</div>