:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.canvas {
    border: solid 1px var(--grey);
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12.9 6.858l4.242 4.243L7.242 21H3v-4.243l9.9-9.9zm1.414-1.414l2.121-2.122a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414l-2.122 2.121-4.242-4.242z" fill="rgba(63,147,210,1)"/></svg>') 0 25, auto;
}

.wrapper-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 4px;
        border: 1px solid var(--primary);
        outline: none;
        font-weight: bold;
        font-size: 20px;
        width: 150px;
        height: 50px;
        cursor: pointer;
        transition: all .4s;

        &.submit {
            color: var(--white);
            background-color: var(--primary);
        }

        &.erase {
            color: var(--primary);
            background-color: var(--white);
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
}

@media (max-width: 768px) {
    .wrapper-button {
        flex-direction: column;
        gap: 20px;
    }
}
