<div class="flex align-items-center justify-content-center w-screen h-screen">
    <div class="surface-card p-4 shadow-2 border-round lg:w-4 md:w-6 sm:w-8 w-10">
        <div class="text-center mb-5">
            <img src="assets/svg/logo.svg" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Se connecter</div>
        </div>

        <form [formGroup]="formGroup" (submit)="onSubmit()">
            <label for="mail" class="block text-900 font-medium mb-2">Mail</label>
            <input id="mail" type="text" pInputText class="w-full mb-3" formControlName="identifier">

            <label for="password" class="block text-900 font-medium mb-2">Mot de passe</label>
            <input id="password" type="password" pInputText class="w-full mb-3" formControlName="password">

            <p *ngIf="error" class="p-error">{{ error }}</p>

            <button pButton pRipple label="Connexion" icon="pi pi-user" class="w-full"></button>
        </form>
    </div>
</div>