<div class="py-2">
    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-calendar mr-2"></i>
            <b>Planning</b>
        </div>
    </p-divider>

    <div class="flex justify-content-center gap-5">
        <div class="w-3" *ngIf="!isOnlyList">
            <p-table [value]="(modules$ | async) ?? []" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10,25,50]" selectionMode="single">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Module</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-module>
                    <tr [pSelectableRow]="module" (click)="onClickModule(module)">
                        <td><span class="font-bold">{{ module.attributes.title }} :</span>
                            {{ module.attributes.dateStart | date: 'dd/MM/YYYY HH:mm'}} -
                            {{ module.attributes.dateEnd | date:
                            'dd/MM/YYYY HH:mm' }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="w-8" [ngClass]="isOnlyList ? 'w-11' : 'w-8'">
            <div *ngIf="!isOnlyList" class="flex justify-content-end mb-3">
                <p-selectButton [options]="stateOptions" [(ngModel)]="defaultOption" (onChange)="onChangeState($event)"
                    optionLabel="label" optionValue="value"></p-selectButton>
            </div>
            <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        </div>
    </div>
</div>