@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --primary:#3F93D2;
  --grey:#c9c9c9;
  --white:#ffffff;
  --success:#27ae60;
  --waiting:#f1c40f;
  --warning:#e74c3c;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.Attendu-badge {
    background: #FEEDAF;
    color: #8a5340;
  }

  &.Signé-badge {
    background: #C8E6C9;
    color: #256029;
  }

  &.Absent-badge {
    background: #FFCDD2;
    color: #c63737;
  }
}

.success-color {
  color: var(--success);
}

.waiting-color {
  color: var(--waiting);
}

.warning-color {
  color: var(--warning);
}
