<div class="card p-4" *ngIf="module">

  <div class="pl-3 flex flex-column gap-3 py-3">
    <div class="flex align-items-center gap-2">
      <button routerLink="/" pButton pRipple type="button" icon="pi pi-angle-left"
        class="p-button-lg p-button-rounded p-button-text"></button>
      <h2 class="m-0">Module : {{ module.attributes.title }}</h2>
      <i *ngIf="module.attributes.statut === 'Attente'" class="pi pi-clock text-2xl ml-3 waiting-color"></i>
      <i *ngIf="module.attributes.statut === 'Ouvert'" class="pi pi-spin pi-spinner text-2xl ml-3 success-color"></i>
      <i *ngIf="module.attributes.statut === 'Cloturé'" class="pi pi-check text-2xl ml-3 warning-color"></i>
    </div>
    <h5 class="m-0">
      Du {{ module.attributes.dateStart | date: 'dd/MM/YYYY HH:mm' }}
      au {{ module.attributes.dateEnd | date: 'dd/MM/YYYY HH:mm' }}
    </h5>
    <div>
      <div>Intervenant <span *ngIf="speakers.length > 1">s</span> :</div>
      <div *ngFor="let speaker of speakers" class="pl-4 mt-2">
        <div class="font-bold">{{ speaker.attributes.firstname }} {{ speaker.attributes.lastname }}</div>
      </div>
    </div>
  </div>

  <p-toolbar *ngIf="module.attributes.statut === 'Attente'">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Démarrer le module" icon="pi pi-sign-in" class="p-button-success mx-2"
        (click)="openModule()"></button>
    </ng-template>
  </p-toolbar>

  <p-toolbar *ngIf="module.attributes.statut === 'Ouvert'">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Clôturer le module" icon="pi pi-sign-out" class="p-button-danger mx-2"
        (click)="openCloseModule()"></button>
    </ng-template>
  </p-toolbar>

  <p-toolbar *ngIf="module.attributes.statut === 'Ouvert'">
    <ng-template pTemplate="left">
      <div class="flex flex-column sm:flex-row gap-2">
        <button pButton pRipple icon="pi pi-qrcode" class="p-button-help m-2" (click)="openQRcode()"></button>
        <button pButton pRipple label="Mail de signature" icon="pi pi-send" class="p-button-success m-2"
          (click)="openSendMail()" [disabled]="!selectedUsers.length || !isOnline"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="right">
      <button pButton pRipple icon="pi pi-pencil" class="m-2" (click)="openCommentModule()"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="module.attributes.signatures.data || []" [(selection)]="selectedUsers" [rowHover]="true"
    dataKey="id" [scrollable]="true" scrollDirection="both">
    <ng-template pTemplate="header">
      <tr>
        <th class="w-15rem mr-auto">Apprenant</th>
        <th class="w-9rem" *ngIf="module.attributes.statut === 'Ouvert'">Commentaire</th>
        <th class="w-6rem" *ngIf="module.attributes.statut === 'Ouvert'">Signature</th>
        <th class="w-6rem" pSortableColumn="attributes.status">Status
          <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th class="w-6rem" *ngIf="module.attributes.statut === 'Ouvert'"></th>
        <th class="w-3rem" *ngIf="module.attributes.statut === 'Ouvert'">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-signature>
      <tr class="border-bottom-1 border-300"
        *ngIf="signature.attributes.user.data.attributes.role.data.attributes.name !== 'speaker'">
        <td class="w-15rem border-none mr-auto cursor-pointer hover:underline hover:text-primary"
          (click)="onRowSelect(signature)">
          {{ signature.attributes.user.data.attributes.firstname }}
          {{ signature.attributes.user.data.attributes.lastname }}
        </td>
        <td class="w-9rem justify-content-center border-none" *ngIf="module.attributes.statut === 'Ouvert'">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-outlined p-button-sm p-2"
            pTooltip="Ajouter un commentaire" tooltipPosition="bottom" (click)="openCommentModule(signature)"></button>
        </td>
        <td class="w-6rem justify-content-center border-none" *ngIf="module.attributes.statut === 'Ouvert'">
          <button pButton pRipple icon="pi pi-user-edit" class="p-button-outlined p-button-sm p-2"
            *ngIf="signature.attributes.status !== 'Signé'" (click)="openSignature(signature)" pTooltip="Signer"
            tooltipPosition="bottom"></button>
        </td>
        <td class="w-6rem justify-content-center border-none">
          <span class="badge" [class]="signature.attributes.status + '-badge'">
            {{ signature.attributes.status }}
          </span>
        </td>
        <td class="w-6rem justify-content-center border-none" *ngIf="module.attributes.statut === 'Ouvert'">
          <button *ngIf="signature.attributes.status !== 'Signé'" pButton pRipple type="button" icon="pi pi-user-minus"
            class="p-button-sm p-2 p-button-outlined p-button-danger" pTooltip="Marquer absent" tooltipPosition="bottom"
            (click)="openAbsentUser(signature)"></button>
        </td>
        <td class="w-3rem justify-content-center border-none" *ngIf="module.attributes.statut === 'Ouvert'">
          <p-tableCheckbox *ngIf="signature.attributes.status !== 'Signé'" [value]="signature">
          </p-tableCheckbox>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">Aucun participant trouvé.</td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [(visible)]="showCloseModal" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
    [modal]="true">
    <ng-template pTemplate="header">
      Clôturer le module
    </ng-template>
    <app-signature *ngIf="showCloseModal" [isDisplayedButton]="false"></app-signature>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Clôturer" icon="pi pi-sign-out" class="p-button-danger m-2"
        (click)="closeModule()"></button>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="showQRcode" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
    [modal]="true">
    <ng-template pTemplate="header">
      QR Code de signature
    </ng-template>
    <div class="mt-1 flex justify-content-center">
      <qrcode [qrdata]="qrdata" [width]="256" [errorCorrectionLevel]="'M'" [allowEmptyString]="true"></qrcode>
    </div>
  </p-dialog>

  <p-dialog [(visible)]="showSignModal" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
    [modal]="true">
    <ng-template pTemplate="header">
      <div class="font-bold">
        Signature de {{ userSigning.attributes.user.data.attributes.firstname }}
        {{ userSigning.attributes.user.data.attributes.lastname }}
      </div>
    </ng-template>
    <div class="mt-1">
      <app-signature *ngIf="showSignModal" (signature)="validateSignature()"></app-signature>
    </div>
  </p-dialog>

  <p-dialog [(visible)]="showCommentModal" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
    [modal]="true">
    <ng-template pTemplate="header">
      {{ headerCommentModal }}
    </ng-template>
    <form *ngIf="formGroup && showCommentModal" [formGroup]="formGroup" (submit)="onSubmitCommentModule()"
      class="flex flex-column align-items-end">
      <input id="comment" required type="text" pInputText class="w-full my-2" formControlName="comment">
      <button pButton pRipple label="Ok" class="p-button-info w-min"></button>
    </form>
  </p-dialog>

  <p-dialog [(visible)]="showEditUser" [style]="{width: '450px'}" header="Modifier" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <form *ngIf="formGroup && showEditUser" [formGroup]="formGroup" class="flex flex-column gap-2">
        <div class="p-field">
          <label for="name">Nom d'utilisateur</label>
          <input type="text" pInputText id="username" required autofocus formControlName="username" />
        </div>
        <div class="p-field">
          <label for="name">Prénom</label>
          <input type="text" pInputText id="firstname" required formControlName="firstname" />
        </div>
        <div class="p-field">
          <label for="name">Nom</label>
          <input type="text" pInputText id="lastname" required formControlName="lastname" />
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
        (click)="closeUpdateModal()"></button>
      <button pButton pRipple label="Sauvegarder" icon="pi pi-check" class="p-button-text"
        (click)="submitUpdateModal()"></button>
    </ng-template>
  </p-dialog>

  <p-toast position="bottom-center"></p-toast>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>